@media (max-width: 1024px)

    nav, button
        display: none

    .grid-container
        padding: 32px
        flex-direction: column
        border-bottom: solid #000 1px

    .box-content-img-home, .box-content-img-2
        width: 100%
        background-repeat: no-repeat

        .box-content-img-home
            background-size: cover

    .s-hero .box-text
        h2
            font-size: 48px

        p
            font-size: 24px

    .sh-1
        padding-top: 80px

    .sh-3
        .grid-container
            display: grid !important
            grid-template-columns: 1fr !important
            grid-template-rows: auto !important
            gap: 1rem !important
