// Shades of black to gray
$color-black: #000000;
$color-dark-gray: #1a1a1a;
$color-gray: #333333;
$color-light-gray: #4d4d4d;
$color-lighter-gray: #666666;
$color-lightest-gray: #808080;
$color-white-gray: #999999;
$color-white: #fff;

// Shades of red
$color-dark-red: #8B0000;
$color-red: #FF0000;
$color-light-red: #FF6347;
$color-lighter-red: #FF7F7F;
$color-lightest-red: #FFA07A;

// Shades of blue
$color-dark-blue: #00008B;
$color-blue: #0000FF;
$color-light-blue: #1E90FF;
$color-lighter-blue: #87CEFA;
$color-lightest-blue: #ADD8E6;

// Shades of green
$color-dark-green: #006400;
$color-green: #00FF00;
$color-light-green: #32CD32;
$color-lighter-green: #98FB98;
$color-lightest-green: #90EE90;

// Shades of yellow
$color-dark-yellow: #FFD700;
$color-yellow: #FFFF00;
$color-light-yellow: #FFFFE0;
$color-lighter-yellow: #FFFACD;
$color-lightest-yellow: #FAFAD2;

// Shades of violet
$color-dark-violet: #4B0082;
$color-violet: #8A2BE2;
$color-light-violet: #9370DB;
$color-lighter-violet: #BA55D3;
$color-lightest-violet: #DDA0DD;